.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
  padding: 2px 16px;
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
  width: 130px;
  h4 {
    font-size: 40px;
    color: #F76E4B;  
    margin: 0;
  }
}

.card:hover {
  box-shadow: 1 8px 16px 1 rgba(228, 126, 31, 0.829);
}
