.home-link {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: black;
  text-decoration: underline rgba(128, 128, 128, 0.198);
}
.home-father {
  display: flex;
  flex-direction: row;
  justify-content: center;
}